# ROTTEN TOMATOES MOVIES (audience rating) PROJECT

# Step 1: import necessary libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Step 2: Loading the dataset

In [2]:
dataset = pd.read_csv("Rotten_Tomatoes_Movies3.csv", encoding='latin1')
dataset.head(5)

,movie_title,movie_info,critics_consensus,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",12-02-2010,29-06-2010,83.0,20th Century Fox,Rotten,49,144,53.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",30-04-2010,19-10-2010,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",05-10-1979,27-08-1997,118.0,Waner Bros.,Fresh,68,22,53.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",13-04-1957,06-03-2001,95.0,Criterion Collection,Certified Fresh,100,51,97.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",01-01-1954,20-05-2003,127.0,Disney,Fresh,89,27,74.0

# Step 3: Exploratory Data Analysis

In [3]:
dataset.shape

(16638, 16)

In [4]:
dataset.describe()

,runtime_in_minutes,tomatometer_rating,tomatometer_count,audience_rating
count,16483.000000,16638.000000,16638.000000,16386.000000
mean,102.391494,60.466522,56.607104,60.470829
std,25.028011,28.587230,66.383800,20.462368
min,1.000000,0.000000,5.000000,0.000000
25%,90.000000,38.000000,12.000000,45.000000
50%,99.000000,66.000000,28.000000,62.000000
75%,111.000000,86.000000,76.000000,77.000000
max,2000.000000,100.000000,497.000000,100.000000

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16638 entries, 0 to 16637
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_title         16638 non-null  object
 1   movie_info          16614 non-null  object
 2   critics_consensus   8309 non-null   object
 3   rating              16638 non-null  object
 4   genre               16621 non-null  object
 5   directors           16524 non-null  object
 6   writers             15289 non-null  object
 7   cast                16354 non-null  object
 8   in_theaters_date    15823 non-null  object
 9   on_streaming_date   16636 non-null  object
 10  runtime_in_minutes  16483 non-null  float64
 11  studio_name         16222 non-null  object
 12  tomatometer_status  16638 non-null  object
 13  tomatometer_rating  16638 non-null  int64
 14  tomatometer_count   16638 non-null  int64
 15  audience_rating     16386 non-null  float64
dtypes: float64(2), int64(2), object(12)
memory usage: 2.0+ MB

In [6]:
if 'in_theaters_date' in dataset.columns: 
    dataset['in_theaters_date'] = pd.to_datetime(dataset['in_theaters_date'], errors='coerce', dayfirst=True) 
    dataset['in_theaters_date'] = dataset['in_theaters_date'].view('int64') // 10**9

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16638 entries, 0 to 16637
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_title         16638 non-null  object
 1   movie_info          16614 non-null  object
 2   critics_consensus   8309 non-null   object
 3   rating              16638 non-null  object
 4   genre               16621 non-null  object
 5   directors           16524 non-null  object
 6   writers             15289 non-null  object
 7   cast                16354 non-null  object
 8   in_theaters_date    16638 non-null  int64
 9   on_streaming_date   16636 non-null  object
 10  runtime_in_minutes  16483 non-null  float64
 11  studio_name         16222 non-null  object
 12  tomatometer_status  16638 non-null  object
 13  tomatometer_rating  16638 non-null  int64
 14  tomatometer_count   16638 non-null  int64
 15  audience_rating     16386 non-null  float64
dtypes: float64(2), int64(3), object(11)
memory usage: 2.0+ MB

In [8]:
dataset.isnull().sum()

movie_title              0
movie_info              24
critics_consensus     8329
rating                   0
genre                   17
directors              114
writers               1349
cast                   284
in_theaters_date         0
on_streaming_date        2
runtime_in_minutes     155
studio_name            416
tomatometer_status       0
tomatometer_rating       0
tomatometer_count        0
audience_rating        252
dtype: int64

In [9]:
columns_to_drop = ['critics_consensus', 'writers', 'studio_name','on_streaming_date','runtime_in_minutes','tomatometer_status','tomatometer_rating','tomatometer_count']
dataset.drop(columns=columns_to_drop, inplace=True)
#here we will drop columns which has most no. of null values

In [10]:
dataset.dropna(inplace= True)    # here we will drop rows which consist of null values
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16019 entries, 0 to 16637
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   movie_title       16019 non-null  object
 1   movie_info        16019 non-null  object
 2   rating            16019 non-null  object
 3   genre             16019 non-null  object
 4   directors         16019 non-null  object
 5   cast              16019 non-null  object
 6   in_theaters_date  16019 non-null  int64
 7   audience_rating   16019 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ MB
None

In [11]:
dataset.isnull().sum()

movie_title         0
movie_info          0
rating              0
genre               0
directors           0
cast                0
in_theaters_date    0
audience_rating     0
dtype: int64

In [12]:
dataset.shape  #after adjusting all null values the shape of dataset remains same no rows deleted

(16019, 8)

# Step 4 :Encoding (One-Hot Encoding):
In this example, each unique category in the original categorical columns is represented as a separate binary column in the new DataFrame.

This encoding is beneficial for machine learning models because it converts categorical data into a numerical format that models can process.

Introduction to pd.get_dummies():

pd.get_dummies() is a function in pandas that performs one-hot encoding, automatically creating new binary columns for each unique category in the specified columns.

Identifying Categorical Columns:

Performing One-Hot Encoding:

Displaying the Encoded Dataset:

In [13]:
dataset.select_dtypes(include="object").columns

Index(['movie_title', 'movie_info', 'rating', 'genre', 'directors', 'cast'], dtype='object')

In [14]:
#pd.get_dummies() automatically creates new columns for each unique category in the specified columns.

#The columns parameter specifies which columns to one-hot encode.

# List of categorical columns to be one-hot encoded
categorical_columns = ['movie_title', 'movie_info', 'rating', 'genre',
       'directors', 'cast']

# Perform one-hot encoding using pd.get_dummies()
dataset_encoded = pd.get_dummies(dataset, columns=categorical_columns)

# Display the first few rows of the encoded dataset
print(dataset_encoded.head())

   in_theaters_date  audience_rating  movie_title_!Women Art Revolution  \
0        1265932800             53.0                                  0
1        1272585600             64.0                                  0
2         307929600             53.0                                  0
3        -401414400             97.0                                  0
4        -504921600             74.0                                  0

   movie_title_#Horror  movie_title_$ (Dollars) (The Heist)  \
0                    0                                    0
1                    0                                    0
2                    0                                    0
3                    0                                    0
4                    0                                    0

   movie_title_$9.99   movie_title_$ellebrity  movie_title_'71  \
0                   0                       0                0
1                   0                       0                0
2                   0                       0                0
3                   0                       0                0
4                   0                       0                0

   movie_title_'Breaker' Morant  movie_title_'R Xmas  ...  \
0                             0                    0  ...
1                             0                    0  ...
2                             0                    0  ...
3                             0                    0  ...
4                             0                    0  ...

   cast_Zoey Deutch, Halston Sage, Kian Lawley, Cynthy Wu, Elena Kampouris, Medalion Rahimi, Jennifer Beals, Diego Boneta, Logan Miller  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   cast_Zoey Deutch, Kathryn Hahn, Tim Heidecker, Adam Scott, Joey Morgan, Dylan Gelula, Maya Eshet  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   cast_Zoey Deutch, Lucy Fry, Danila Kozlovsky, Gabriel Byrne, Sarah Hyland, Joely Richardson, Cameron Monaghan, Sami Gayle, Ashley Charles, Claire Foy, Dominic Sherwood, Chris Mason Johnson, Ben Peel, Olga Kurylenko, Rolfe Kent  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   cast_Zoey Deutch, Nicholas Braun, Israel Broussard, Mateo Arias, Julia Garner, Ashley Judd, Demian Bichir, Virginia Gardner, David Coussins, Tasie Lawrence, Dayo Okeniyi, Kevin Chapman, Stephanie Fantauzzi, Paula Plum, John Rothman, Brett Wyman, Eric Lutes, Kelly Pendygraft, Bora Jasa, Nick Chambers, Michael Fennimore, Dinora Walcott, Tamara Hickey, Angela Jaymes, Zoe Ritchie, Marc McDermott, Ariana DeFusco, Eduardo Fernandez-Baumann  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   cast_Zohra Lampert, Barton Heyman, Kevin O'Connor, Gretchen Corbett, Alan Manson, Mariclare Costello  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   cast_Zoie Palmer, Julian Richings, Jon Cor, Scott Thompson, Rob Ramsay  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   cast_Zooey Deschanel, Hank Azaria, Jesse Bradford, Glenne Headly, Famke Janssen, Piper Laurie, Kelly Preston, Ray Romano, Rip Torn, Debra Winger, Curtis Garcia, Micole Mercurio, Keith Garcia, Lucy Gunadi, Rene Auberjonois, Kevin Ruf, Lana Novac, Alex Moore, Allisyn Ashley Arm, Lucy Boyle, Michael Panes, Michael Chapman, Vincent Castellanos, Lisa Maris, Rocco Sisto, Denise Dowse, Mark Harelik, Matthew Feder, Jordan Moen, Natasha Sheridan, Rance Howard, Paget Brewster, Mary Schmidtberger, Emma Chapman, Brandon Waters, Monica Esswein, Aaron Salazar, Shaunci Trammel, Ward Stearns, Sara Botsford, John Lafayette, Brian Posehn, Eric Peirpoint, Sherman Howard, Claudette Nevins, Monica Potter  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   cast_Zs??fia Psotta, S?°ndor Zs??t?©r, Lili Monori, Szabolcs Thuroczy, L?°szl?? G?°lffi, Lili Horv?°th  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   cast_Zsa Zsa Gabor, Eric Fleming, Laurie Mitchell, Paul Birch, Barbara Darrow, Dave Willock, Lisa Davis, Patrick Waltz, Marilyn Buferd, Marjorie Durant Dye, Lynn Cartwright, Gerry Gaylor, Mary Ford, Colleen Drake, Marya Stevens, Laura Mason, Norma Young, Tania Velia, Kathy Marlowe  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   cast_sarah ellison, David Carr, Bruce Headlam, Richard P?©rez-Pe?±a, Clay Shirky, Brian Stelter, Alex S. Jones, Ian Fisher (IX), Ian Fisher, Noam Cohen, Susan Chira, Bill Keller, Jeff Jarvis, Katrina vanden Heuvel, Shane Smith, Tim Arango, Gay Talese, David Remnick, James McQuivey, Michael Hirschorn, Andrew Ross Sorkin, Larry Ingrassia, Dennis Crowley, Evan Williams, Paul Steiger, Markos Moulitsas Z??niga, Seth Mnookin, Nicholas Lemann, Claiborne Ray, Carla Baranauckas, Katherine Bouton, Nick Denton, Jimmy Wales, Rick Lyman, Dean Baquet, Brian Lamb, Brian Lam, Charles Strum, Joseph Kahn, Carl Bernstein, John Carr
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

[5 rows x 56568 columns]

# Step 5: Feature Scaling , Dimensionality Reduction , Train and Test Split , Model Selection , Model Validation and Accuracy(Metrics):
PCA: Principal Component Analysis, used for dimensionality reduction.

StandardScaler: Standardizes features by removing the mean and scaling to unit variance.

train_test_split: Splits the dataset into training and testing sets.

LinearRegression: A linear model for regression.

mean_absolute_error, mean_squared_error, r2_score: Metrics to evaluate the model's performance.

In [15]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split  
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
# Scale the numerical columns 
scaler = StandardScaler() 
numerical_columns = dataset_encoded.select_dtypes(include=[float, int]).columns 
dataset_encoded[numerical_columns] = scaler.fit_transform(dataset_encoded[numerical_columns]) 

# Separate features and target 
X = dataset_encoded.drop('audience_rating', axis=1) 
y = dataset['audience_rating']

# Apply PCA to reduce the number of features
pca = PCA(n_components=100)  # Reduce to 100 principal components
X_reduced = pca.fit_transform(X)
# Proceed with the reduced dataset
X_train, X_test, y_train, y_test = train_test_split(X_reduced, y, test_size=0.2, random_state=42)

# Train a Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"MAE: {mae}")
print(f"MSE: {mse}")
print(f"R²: {r2}")

MAE: 15.137163581760761
MSE: 338.74960574428735
R²: 0.1820903744554182

# Step 6: Hyperparameter Tuning:

linear regression doesn't have many hyperparameters to tune, WE can still consider aspects such as regularization. For this, we'll use Ridge regression and Lasso regression, which include regularization parameters that can be tuned.

WE can implement Ridge and Lasso regression with hyperparameter tuning using GridSearchCV:

In [16]:
from sklearn.linear_model import Ridge, Lasso
from sklearn.model_selection import GridSearchCV

# Define the model and parameters for Ridge regression
ridge = Ridge()
ridge_params = {
    'alpha': [0.1, 1.0, 10.0, 100.0]
}

# Define the model and parameters for Lasso regression
lasso = Lasso()
lasso_params = {
    'alpha': [0.1, 1.0, 10.0, 100.0]
}

# Use GridSearchCV for Ridge regression
ridge_grid = GridSearchCV(ridge, ridge_params, cv=5, scoring='r2')
ridge_grid.fit(X_train, y_train)

# Use GridSearchCV for Lasso regression
lasso_grid = GridSearchCV(lasso, lasso_params, cv=5, scoring='r2')
lasso_grid.fit(X_train, y_train)

# Get the best models
best_ridge = ridge_grid.best_estimator_
best_lasso = lasso_grid.best_estimator_

# Make predictions with the best models
y_pred_ridge = best_ridge.predict(X_test)
y_pred_lasso = best_lasso.predict(X_test)

# Evaluate the best models
mae_ridge = mean_absolute_error(y_test, y_pred_ridge)
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
r2_ridge = r2_score(y_test, y_pred_ridge)

mae_lasso = mean_absolute_error(y_test, y_pred_lasso)
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
r2_lasso = r2_score(y_test, y_pred_lasso)

print(f"Ridge Regression - MAE: {mae_ridge}, MSE: {mse_ridge}, R²: {r2_ridge}")
print(f"Lasso Regression - MAE: {mae_lasso}, MSE: {mse_lasso}, R²: {r2_lasso}")

Ridge Regression - MAE: 15.139976228705596, MSE: 338.70571938388343, R²: 0.18219633790451395
Lasso Regression - MAE: 16.12304389224896, MSE: 371.3712357980781, R²: 0.10332557364236283

# Step 7: Plots and Visualization
Visualizing the results can provide valuable insights into the model's performance. We can create plots to show the comparison between the actual and predicted values, as well as the residuals (the difference between the actual and predicted values).

we can create these plots:

Scatter Plot of Actual vs. Predicted Values:

This plot helps you visualize how well your model's predictions match the actual values.

Residual Plot:

This plot shows the residuals, helping you detect any patterns that might indicate problems with your model.

Distribution Plot of Residuals:

This plot helps you check if the residuals are normally distributed.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Scatter plot of actual vs. predicted values
plt.figure(figsize=(10, 6))
plt.scatter(y_test, y_pred, alpha=0.5)
plt.title('Actual vs. Predicted Values')
plt.xlabel('Actual Values')
plt.ylabel('Predicted Values')
plt.plot([min(y_test), max(y_test)], [min(y_test), max(y_test)], color='red')  # Line of perfect prediction
plt.savefig('Scatter Plot')
plt.show()

# Residual plot
residuals = y_test - y_pred
plt.figure(figsize=(10, 6))
plt.scatter(y_pred, residuals, alpha=0.5)
plt.title('Residual Plot')
plt.xlabel('Predicted Values')
plt.ylabel('Residuals')
plt.hlines(y=0, xmin=min(y_pred), xmax=max(y_pred), color='red')  # Horizontal line at 0
plt.savefig('Residuals Plot')
plt.show()

# Distribution plot of residuals
plt.figure(figsize=(10, 6))
sns.histplot(residuals, kde=True)
plt.title('Distribution of Residuals')
plt.xlabel('Residuals')
plt.ylabel('Frequency')
plt.savefig('Distribution Plot')
plt.show()

SUCCESSFULLY COMPLETED